#change_echart
	p
		span#all_building.active 所有楼
		span#single_building 单栋楼
		select#select_b.hide
			option(value="",selected,disabled) 请选择楼号
			option(value="1") 1号楼
			option(value="2") 2号楼
			option(value="6") 6号楼