doctype html
html
	head
		meta(charset='utf-8')
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title 首页
		script(type='text/javascript').
			(function (doc, win) {
			  var docEl = doc.documentElement,
			    resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
			    recalc = function () {
			      var clientWidth = docEl.clientWidth;
			      if (!clientWidth) return;
			      docEl.style.fontSize = 100 + 'px';
			    };
			
			  if (!doc.addEventListener) return;
			  win.addEventListener(resizeEvt, recalc, false);
			  doc.addEventListener('DOMContentLoaded', recalc, false);
			})(document, window);
		script(type='text/javascript',src='../dist/js/index.js')
	body
		include ../src/tpl/header
		include ../src/tpl/index_content

		
		


		

	